.banner-cotizacion {
    height: 100vh;
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;


    & h1 {
        letter-spacing: -2px;
        font-size: 48px;
        font-weight: bolder;
        color: #fafafa;
    }

    & .title:before {
        content: 'CONTACTANOS';
        letter-spacing: -1px;
        font-size: 46px;
        font-weight: bolder;
        color: #fe9e00;
    }

    & .subtitle {
        color: #fafafa;
        font-size: 32px;
    }

    & .tel {
        padding-top: 50px;
    }
}