.text-style{
    color: rgb(68, 68, 68);
    font-weight: bold;
}
.fondo {
    background-color: black;
}
.ayuda{
    background-image: linear-gradient(to bottom right, rgb(0,0,0), rgb(31, 29, 29));
    padding: 4.5rem 2rem;
    color: white;
}
.ayuda-links{
    color: white;
    font-weight: bold;
    word-wrap: normal;
    text-decoration: underline!important;
    cursor: pointer;
    transition: 0.3s;
}
.ayuda-links:hover{
    color: rgb(59, 59, 151)!important;
}
.input{
    border: 1px solid black;
    padding: 1rem 6rem 1rem 0.5rem;
}
.submit{
    border: 1px solid white;
    margin-top: 1rem;
    padding: 1rem 7.5rem;
    color: white;
    background-color: rgb(207, 76, 15);

    transition: 0.3s;
}
.submit:hover{
    border: 1px solid rgb(0, 0, 90);
    color: rgb(0, 0, 0);
    background-color: white;
}
.links{
    color: rgb(68, 68, 68)!important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-right: 2rem;
    transition: 0.3s;
}
.li{
    padding: 1rem 0rem;
    border-top: 1px solid darkgrey;
}
.ul{
    list-style-type: none;
}
.links:hover{
    color: rgb(0, 0, 90)!important;
    text-decoration: none;
}
.social-icons:hover{
    cursor: pointer;
    color: rgb(0, 0, 90);
    font-size: 29px;

    transition: 0.3s;
}

.bottom{
    color: #575757;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid darkgrey;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .li{
        padding: 0rem;
        border-top: none;
    }
    .submit{
        margin-top: 0rem;
        padding: 1rem;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}