.font a{
  font-size: 20px;
  color: black!important;
  margin-right: 1rem;
}
.font a:hover{
  font-size: 20px;
  color: rgb(119, 119, 119)!important;
}

.border {
  border-bottom: 2px solid rgb(179, 2, 2);
}
.item a:hover{
  background-color:  rgba(179, 2, 2, 0.5);
  color: white!important;
} 