.section{
    padding: 9rem 0rem;
}
.service-icons{
    
}
#left-service-item{
    background-color: steelblue;
}
#center-service-item{
    background-color: mediumslateblue;
}
#right-service-item{
    background-color: royalblue;
}