.section{
    padding: 9rem 0rem;
}  

#left-service-container{
    background-color: tan;
}
#left-service-item{
    background-color: steelblue;
}
#center-service-item{
    background-color: mediumslateblue;
}
#right-service-item{
    background-color: royalblue;
}

#section-two{
    background-image: linear-gradient(to bottom right, #b40000, #d9534f);
}