@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.description {
    margin-top : 6rem;
    width: min-content;
    text-align: center;

    & h1{
        font-size: 48px; 
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        border-right: 5px solid #fe9e00;
        
      
    }

    & h1:first-letter {
        color: #fe9e00;
    }

    & p{
        font-size: 18px ;
        line-height: 1.5;
        text-align: justify;
        margin: 2rem auto;
        
    }
}

.center{
    width: 50%;
    margin: 0 auto;
}

.cardSection {
    background-color: #ececec;
    height: max-content;
    display: table-cell;
    vertical-align: middle;
    padding-top: 50px;
    padding-bottom: 50px;
}